:local {
    .todoItem {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #cccccc;

        .checkboxWrap,
        .closer {
            flex-shrink: 0;
            display: inline-block;
        }
        .title {
            flex-shrink: 1;
            flex-grow: 1;
            display: inline-block;
            font-size: 20px;
            padding: 0 10px 5px;
        }
        &.finished .title {
            text-decoration: line-through;
            color: #ccc;
        }
        .closer {
            color: red;
            font-size: 20px;
            opacity: 0;
        }
        &:hover .closer {
            opacity: 1;
        }
    }
}
