
:local {
    .wrap {
        width: 500px;
        margin: 20px auto;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #cccccc;
        padding: 10px 20px 20px;
        box-shadow: 0 0 10px 0px rgba(0,0,0,.3);

        .header {
        color: #333;
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        padding: 10px 0 ;
        }

        .items {
        margin: 10px 0;
        }
        
        .footer {
        display: flex;
        align-items: center;

        .itemsLeft,
        .clear {
            flex-shrink: 0;
            display: inline-block;
            width: 105px;
        }
        .filters {
            flex-shrink: 1;
            flex-grow: 1;
            text-align: center;
            font-size: 16px;
        }
        }
    }
}
  